@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=DM+Serif+Display:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* *, *:hover {
    cursor: none;
} */

body {
    background-color: #F5F5DC;
    color: #63605b;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
}


@layer components {
    .content-container {
        @apply container mx-auto px-2 md:px-4 pb-[88px];
    }
    .text-highlight {
        color: #5e768b;
    }
    .button {
        @apply bg-[#b9a859] text-white shadow-lg inline-block transition-all opacity-70 hover:!scale-105 hover:!opacity-100;
    }
}